body{
    background-size: 200px 200px;
    background-image: url(img/gaspar-laci.jpg);
    background-repeat: repeat;
}
div{
    border-radius: 50px;
    margin: auto;
    background-color: white;
}
h1{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
}
h4{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
h5{
    padding-top: 10px;
    padding-bottom: 10px;
}
#id1{
    padding: 5px;
    border: solid black 1px;
    border-radius: 10px;
    position: absolute;
}
#id2{
    padding: 5px;
    border: solid black 1px;
    border-radius: 10px;
    float: right;
}
a{
    text-decoration: none;
}
button{
    border: solid, black, 1px;
    border-radius: 50px;
}
span{
    color: black;
}